<div class="container">
    <div class="user-details">
        <h3> Projects </h3>
    </div>
    <div class="row user-projects">
        <div class="six columns images">
            <img alt="VoxelGame" src="/particle/assets/img/VoxelGame.png " />
        </div>
        <div class="six columns">
            <h5> Voxel Game </h5>
            <p>A block building game made in Unity3D. Explore the 3D plane, modifying the blocks, and build whatever you please.</p>
            <a class="project-link" href="https://github.com/peterhogg/voxel_game">Check it out</a>
        </div>
    </div>
    <div class="row user-projects">
        <div class="six columns">
            <img alt="Yarr" src="/particle/assets/img/Yarr.png " />
        </div>
        <div class="six columns">
            <h5> Yarr : Yet Another Reddit Reader </h5>
            <p>A reddit reader for android. Explore your favourite subreddit.</p>
            <a class="project-link" href="https://github.com/peterhogg/Yarr">Check it out</a>
        </div>
    </div>
    <div class="row user-projects">
        <div class="six columns images">
            <img alt="TronGame" src="/particle/assets/img/Tron.png" />
        </div>
        <div class="six columns ">
            <h5> Tron Game </h5>
            <p>My attempt at creating the classic lite cycle game using python's pygame library. This game has support for 2 players</p>
            <a class="project-link " href="https://github.com/peterhogg/tron ">Check it out</a>
        </div>
    </div>
</div>